<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Database</title>
</head>
<body>
    <div class="content">
        <h1>Database</h1>
        {% if database|length < 1%}
        <h4>Database empty!</h4>
        {% else %}
        <table>
            <tr>
                <th>id</th>
                <th>name</th>
            </tr>
            {% for data in database %}
                <tr>
                    <td>{{ data.id }}</td>
                    <td>{{ data.name }}</td>
                </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>
    <div class="content">
        <h1>Database</h1>
        {% if database2|length < 1%}
        <h4>Database empty!</h4>
        {% else %}
        <table>
            <tr>
                <th>id</th>
                <th>name</th>
            </tr>
            {% for data in database2 %}
                <tr>
                    <td>{{ data.id }}</td>
                    <td>{{ data.name }}</td>
                </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>
</body>
</html>
