<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Real-Time Order Book Simulation</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.socket.io/4.5.1/socket.io.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <!-- jQuery for easy AJAX -->
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="/static/js/script.js"></script>
        <script src="/static/js/user.js"></script>
        <link rel="stylesheet" href="/static/css/main.min.css">
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/css/user.css">
    </head>
    <body>
        <!-- Stock's live-info & profile section -->
        <div class="body">
            <div class="container">
                <div class="row">
                    <div class="col-8">
                        <h3>Order Matching and Clearing Obligations System</h3>
                    </div>
                    <div class="col-4">
                        <div class="text-end">
                            <div class="dropdown">
                                <button class="btn form-control btn-primary" class="dropbtn">{{ session['username'] }}</button>
                                <div class="dropdown-content">
                                    <p id="user-name"></p>
                                    <ul id="balances"></ul>
                                    <p id="collateral-display"></p>
                                    {% if session['username'] == 'admin' %}
                                    <a href="/settlement">Settlement</a>
                                    <a href="/graph">Graph</a>
                                    {% endif %}
                                    <a href="/logout">Log out</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="p-2 d-flex justify-content-between" id="stock-info"></div>
                    </div>
                </div>
            </div>
            <!-- Main body of the page -->
            <div class="container ">
                <!-- Order Book Section (Sell Orders, LTP, Buy Orders) -->
                <!-- Middle Section -->
                <div class="row">
                    <div class="col-2 p-4">
                        <div class="table-container" id="order-book">
                            <h3>Order Book</h3>
                            <!-- Table for 'sellOB', 'LTP', and 'buyOB' -->
                            <table class="table table-sm table-striped">
                                <thead class="table-danger">
                                    <tr>
                                        <th>Orders</th>
                                        <th>Quantity</th>
                                        <th>Price</th>
                                    </tr>
                                </thead>
                                <tbody id="order-book-table-body">
                                    <!-- Table rows for 'sellOB', 'LTP', and 'buyOB' will be dynamically inserted here --></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-7 p-4">
                        <div class="nav-bar">
                            <button class="btn form-control active" id="chart-container-btn">Chart</button>
                            <button class="btn form-control" id="database-container-btn">Database</button>
                            <button class="btn form-control" id="stats-container-btn">Stats</button>
                        </div>
                        <div id="chart-container" class="container-content active">
                            <canvas id="priceChart" width="600" height="280"></canvas>
                        </div>
                        <div id="database-container" class="container-content">
                            <table class="table table-sm">
                                <thead>
                                    <tr>
                                        <th>id</th>
                                        <th>conID</th>
                                        <th>Qty</th>
                                        <th>Rate</th>
                                        <th>Amount</th>
                                        <th>Buyer</th>
                                        <th>Seller</th>
                                    </tr>
                                </thead>
                                <tbody id="floorsheet-table-body">
                                    <!-- Table rows for 'floorsheet' will be dynamically inserted here --></tbody>
                            </table>
                        </div>
                        <div id="stats-container" class="container-content">
                            <p>Comming Soon.</p>
                        </div>
                        <!-- Order Form Section -->
                        <div class="form-container mt-2">
                            <!-- Form Navigation Buttons -->
                            <div class="nav-bar">
                                <button class="btn form-control active" id="limit-order-btn">Limit Order</button>
                                <button class="btn form-control" id="market-execution-btn">Market Execution</button>
                            </div>
                            <!-- Limit Order Form -->
                            <div id="limit-order-form" class="container-content active">
                                <div class="form">
                                    <form class="order-form">
                                        <input
                                            class="form-control"
                                            type="hidden"
                                            name="action"
                                            value="Buy"
                                        >
                                        <!-- Action to differentiate -->
                                        <label for="rate">Rate:</label>
                                        <input
                                            class="form-control"
                                            type="number"
                                            step="0.1"
                                            id="rate"
                                            name="rate"
                                            required
                                        >
                                        <label for="qty">Qty:</label>
                                        <input
                                            class="form-control"
                                            type="number"
                                            id="qty"
                                            name="qty"
                                            required
                                        >
                                        <button class="btn form-control" type="submit">BUY</button>
                                    </form>
                                </div>
                                <div class="form">
                                    <form class="order-form">
                                        <input
                                            class="form-control"
                                            type="hidden"
                                            name="action"
                                            value="Sell"
                                        >
                                        <!-- Action to differentiate -->
                                        <label for="rate">Rate:</label>
                                        <input
                                            class="form-control"
                                            type="number"
                                            step="0.1"
                                            id="rate"
                                            name="rate"
                                            required
                                        >
                                        <label for="qty">Qty:</label>
                                        <input
                                            class="form-control"
                                            type="number"
                                            id="qty"
                                            name="qty"
                                            required
                                        >
                                        <button class="btn form-control" type="submit" id="sell-btn">SELL</button>
                                    </form>
                                </div>
                            </div>
                            <!-- Market Execution Form (Currently Empty) -->
                            <div id="market-execution-form" class="container-content">
                                <div class="flex-row">
                                    <div class="form">
                                        <form class="order-form">
                                            <input
                                                class="form-control"
                                                type="hidden"
                                                name="action"
                                                value="Buy"
                                            >
                                            <!-- Action to differentiate -->
                                            <input
                                                class="form-control"
                                                type="hidden"
                                                id="rate"
                                                name="rate"
                                                value="0"
                                            >
                                            <label for="qty">Qty:</label>
                                            <input
                                                class="form-control"
                                                type="number"
                                                id="qty"
                                                name="qty"
                                                required
                                            >
                                            <button class="btn form-control" type="submit">BUY</button>
                                        </form>
                                    </div>
                                    <div class="form">
                                        <form class="order-form">
                                            <input
                                                class="form-control"
                                                type="hidden"
                                                name="action"
                                                value="Sell"
                                            >
                                            <!-- Action to differentiate -->
                                            <input
                                                class="form-control"
                                                type="hidden"
                                                id="rate"
                                                name="rate"
                                                value="0"
                                            >
                                            <label for="qty">Qty:</label>
                                            <input
                                                class="form-control"
                                                type="number"
                                                id="qty"
                                                name="qty"
                                                required
                                            >
                                            <button class="btn form-control" type="submit" id="sell-btn">SELL</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 p-4">
                        <div class="table-container" id="explore-orders">
                            <div class="explore"></div>
                            <!-- User placed orders -->
                            <div class="orders mt-3">
                                <div class="nav-bar">
                                    <button class="btn form-control active" id="open-orders-btn">Open Orders</button>
                                    <button class="btn form-control" id="filled-orders-btn">Filled Orders</button>
                                </div>
                                <!-- Open Orders (visible by default) -->
                                <div id="open-orders" class="container-content table-responsive active">
                                    <h2>Open Orders</h2>
                                    <table class="table ">
                                        <thead>
                                            <tr>
                                                <th>Symbol</th>
                                                <th>Qty</th>
                                                <th>Rate</th>
                                                <th>Rem.</th>
                                                <th>Type</th>
                                                <th>Success</th>
                                            </tr>
                                        </thead>
                                        <tbody id="open-orders-table-body">
                                            <!-- Open orders will be dynamically inserted here --></tbody>
                                    </table>
                                </div>
                                <!-- Filled Orders (hidden by default) -->
                                <div id="filled-orders" class="container-content table-responsive">
                                    <h2>Filled Orders</h2>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Symbol</th>
                                                <th>Qty</th>
                                                <th>Rate</th>
                                                <th>Rem.</th>
                                                <th>Type</th>
                                            </tr>
                                        </thead>
                                        <tbody id="filled-orders-table-body">
                                            <!-- Filled orders will be dynamically inserted here --></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Explore & Order History -->
        </div>
    </body>
</html>
